@* @model VierGewinnt.ViewModels.SpielRueckblickViewModel;
@using VierGewinnt.Data.Models;

@{
    ViewData["Title"] = "Match History";
}

 *@
@model VierGewinnt.ViewModels.SpielRueckblickViewModel
@using Microsoft.AspNetCore.Identity;
@using VierGewinnt.Data.Models
@inject UserManager<ApplicationUser> userManager

@{
    ViewData["Title"] = "Player vs Robot";
    var username = ViewBag.Username;
    var username2 = ViewBag.Username2;
}
<link rel="stylesheet" href="~/css/board.css" asp-append-version="true" />
<div class="text-center">
    <h1 class="display-4 text-light">Player vs Roboking</h1>
</div>

<div class="container">
    <div class="row align-items-center">
        <!-- Column for PlayerOne -->
        <div class="col d-flex flex-column align-items-center">
            <div id="playerTwo">
                <label class="text-light">PlayerOne: @username</label>
            </div>
            <div class="d-flex flex-column align-items-center">
                <div class="red-stone"></div>
            </div>
        </div>

        <!-- Column for the game board -->
        <div class="col-md-6 d-flex justify-content-center">
            <div class="container mt-5">

                <!-- Column numbers row -->
                <div class="row justify-content-center">
                    @for (int col = 1; col <= 7; col++)
                    {
                        <div class="colNumber col-auto text-center text-light h4">
                            @col
                        </div>
                    }
                </div>

                <div class="row justify-content-center">
                    <div class="col-auto">
                        <div class="board">
                            <!-- Game board rows -->
                            @for (int row = 1; row <= 6; row++)
                            {
                                <div class="row justify-content-center">
                                    <!-- Game board columns -->
                                    @for (int col = 1; col <= 7; col++)
                                    {
                                        <div class="cell" id="@col@row" data-colnr="@col" data-rownr="@row"></div>
                                    }
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Column for PlayerTwo -->
        <div class="col d-flex flex-column align-items-center">
            <div id="playerTwo">
                <label class="text-light">PlayerTwo: @username2</label>
            </div>
            <div class="d-flex flex-column align-items-center">
                <div class="yellow-stone"></div>
            </div>
        </div>
    </div>
</div>



<div>
    <form asp-area="" method="post" class="d-flex flex-column align-items-center">
        <button id="btnColRed" class="btn btn-primary mt-2" type="submit">Nächster Spielzug</button>
    </form>
</div>

<div id="gameFinishedModal">
    <div>
        <label class="text-light">Spiel ist fertig</label>
        <button class="success-btn btn btn-primary mt-2" id="confirmButton">Ok</button>
    </div>
</div>

<script src="~/js/replay.js" asp-append-version="true"></script>

<script>
    var movesToAssign = @Html.Raw(Json.Serialize(Model.Game.Moves));
    assignMoves(movesToAssign);
</script>