@using VierGewinnt.Data.Models
@inject SignInManager<ApplicationUser> SignInManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm border-bottom ">
            <div class="container-fluid">
                <a class="navbar-brand text-light" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    @if (SignInManager.IsSignedIn(User))
                    {
                        <ul class="navbar-nav align-items-center">
                            <li class="nav-item">
                                <a class="navbar-brand text-light" asp-area="" asp-controller="Home" asp-action="GameLobby" asp-route-username="@User.Identity.Name">Lobby</a>
                            </li>
                            <li class="nav-item">
                                <a class="navbar-brand text-light" asp-area="" asp-controller="Home" asp-action="Leaderboard">Bestenliste</a>
                            </li>
                            <li class="nav-item">
                                <a class="navbar-brand text-light" asp-area="" asp-controller="Home" asp-action="MatchHistory" asp-route-username="@User.Identity.Name">Spielrückblick</a>
                            </li>
                        </ul>
                        <ul class="navbar-nav justify-content-end align-items-center">
                            <li class="nav-item">
                                <label id="userNameLabel" class="navbar-brand text-light" asp-area=""> Player: @User.Identity.Name</label>
                            </li>
                            <li class="nav-item">
                                <a class="navbar-brand text-light" asp-area="" asp-controller="Account" asp-action="ChangePassword">Change Password</a>
                            </li>
                            <li class="nav-item">
                                <form method="post" asp-controller="account" asp-action="logout">
                                    <button type="submit" style="width: 5vw;" class="nav-link btn btn-link text-light py-0">Sign out</button>
                                </form>
                            </li>
                        </ul>
                    }
                    else
                    {
                        <ul class="navbar-nav flex-grow-1 justify-content-center align-items-center">
                            <li class="nav-item">
                                <label class="navbar-brand text-light" asp-area="">Roboking</label>
                            </li>
                        </ul>
                        @if (ViewData["Title"].ToString() != "Login")
                        {
                            <ul class="navbar-nav justify-content-end">
                                <li class="nav-item">
                                    <a class="nav-link btn btn-link text-light py-0" asp-controller="Account" asp-action="SignIn" style="width: 5vw;">Sign In</a>
                                </li>
                            </ul>
                        }
                        else
                        {
                            <ul class="navbar-nav justify-content-end">
                                <li class="nav-item">
                                    <a class="nav-link text-light py-0" style="font-size: 20px; width: 5vw; margin: 0px 0px 0px 10px;"></a>
                                </li>
                            </ul>
                        }
                    }
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main">
            @RenderBody()
        </main>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
